<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Emoticons</key>
    <dict>
      <key>emoticon-0100-smile.gif</key>
      <dict>
        <key>ID</key>
        <string>smile</string>
        <key>Name</key>
        <string>Smiley</string>
        <key>Equivalents</key>
        <array>
          <string>:)</string>
          <string>:-)</string>
          <string>:=)</string>
          <string>(smile)</string>
        </array>
      </dict>
      <key>emoticon-0101-sadsmile.gif</key>
      <dict>
        <key>ID</key>
        <string>sad</string>
        <key>Name</key>
        <string>Sad</string>
        <key>Equivalents</key>
        <array>
          <string>:(</string>
          <string>:-(</string>
          <string>:=(</string>
          <string>(sad)</string>
        </array>
      </dict>
      <key>emoticon-0102-bigsmile.gif</key>
      <dict>
        <key>ID</key>
        <string>laugh</string>
        <key>Name</key>
        <string>Big smile</string>
        <key>Equivalents</key>
        <array>
          <string>:D</string>
          <string>:-D</string>
          <string>:=D</string>
          <string>:d</string>
          <string>:-d</string>
          <string>:=d</string>
          <string>(laugh)</string>
        </array>
      </dict>
      <key>emoticon-0103-cool.gif</key>
      <dict>
        <key>ID</key>
        <string>cool</string>
        <key>Name</key>
        <string>Cool</string>
        <key>Equivalents</key>
        <array>
          <string>8-)</string>
          <string>8=)</string>
          <string>B-)</string>
          <string>B=)</string>
          <string>(cool)</string>
        </array>
      </dict>
      <key>emoticon-0104-surprised.gif</key>
      <dict>
        <key>ID</key>
        <string>surprised</string>
        <key>Name</key>
        <string>Surprised</string>
        <key>Equivalents</key>
        <array>
          <string>:O</string>
          <string>:-O</string>
          <string>:=O</string>
          <string>:o</string>
          <string>:-o</string>
          <string>:=o</string>
          <string>(surprised)</string>
        </array>
      </dict>
      <key>emoticon-0105-wink.gif</key>
      <dict>
        <key>ID</key>
        <string>wink</string>
        <key>Name</key>
        <string>Winking</string>
        <key>Equivalents</key>
        <array>
          <string>;)</string>
          <string>;-)</string>
          <string>;=)</string>
          <string>(wink)</string>
        </array>
      </dict>
      <key>emoticon-0106-crying.gif</key>
      <dict>
        <key>ID</key>
        <string>cry</string>
        <key>Name</key>
        <string>Crying</string>
        <key>Equivalents</key>
        <array>
          <string>;(</string>
          <string>;-(</string>
          <string>;=(</string>
          <string>(cry)</string>
        </array>
      </dict>
      <key>emoticon-0107-sweating.gif</key>
      <dict>
        <key>ID</key>
        <string>sweat</string>
        <key>Name</key>
        <string>Sweating</string>
        <key>Equivalents</key>
        <array>
          <string>(sweat)</string>
          <string>(:|</string>
        </array>
      </dict>
      <key>emoticon-0108-speechless.gif</key>
      <dict>
        <key>ID</key>
        <string>speechless</string>
        <key>Name</key>
        <string>Speechless</string>
        <key>Equivalents</key>
        <array>
          <string>:|</string>
          <string>:-|</string>
          <string>:=|</string>
          <string>(speechless)</string>
        </array>
      </dict>
      <key>emoticon-0109-kiss.gif</key>
      <dict>
        <key>ID</key>
        <string>kiss</string>
        <key>Name</key>
        <string>Kiss</string>
        <key>Equivalents</key>
        <array>
          <string>:*</string>
          <string>:-*</string>
          <string>:=*</string>
          <string>(kiss)</string>
        </array>
      </dict>
      <key>emoticon-0110-tongueout.gif</key>
      <dict>
        <key>ID</key>
        <string>tongueout</string>
        <key>Name</key>
        <string>Smiley with tongue out</string>
        <key>Equivalents</key>
        <array>
          <string>:P</string>
          <string>:-P</string>
          <string>:=P</string>
          <string>:p</string>
          <string>:-p</string>
          <string>:=p</string>
          <string>(tongueout)</string>
        </array>
      </dict>
      <key>emoticon-0111-blush.gif</key>
      <dict>
        <key>ID</key>
        <string>blush</string>
        <key>Name</key>
        <string>Blushing</string>
        <key>Equivalents</key>
        <array>
          <string>(blush)</string>
          <string>:$</string>
          <string>:-$</string>
          <string>:=$</string>
          <string>:"&gt;</string>
        </array>
      </dict>
      <key>emoticon-0112-wondering.gif</key>
      <dict>
        <key>ID</key>
        <string>wonder</string>
        <key>Name</key>
        <string>Wondering</string>
        <key>Equivalents</key>
        <array>
          <string>:^)</string>
          <string>(wonder)</string>
        </array>
      </dict>
      <key>emoticon-0113-sleepy.gif</key>
      <dict>
        <key>ID</key>
        <string>sleepy</string>
        <key>Name</key>
        <string>Sleepy</string>
        <key>Equivalents</key>
        <array>
          <string>|-)</string>
          <string>I-)</string>
          <string>I=)</string>
          <string>(snooze)</string>
        </array>
      </dict>
      <key>emoticon-0114-dull.gif</key>
      <dict>
        <key>ID</key>
        <string>dull</string>
        <key>Name</key>
        <string>Dull</string>
        <key>Equivalents</key>
        <array>
          <string>|-(</string>
          <string>|(</string>
          <string>|=(</string>
          <string>(dull)</string>
        </array>
      </dict>
      <key>emoticon-0115-inlove.gif</key>
      <dict>
        <key>ID</key>
        <string>inlove</string>
        <key>Name</key>
        <string>In love</string>
        <key>Equivalents</key>
        <array>
          <string>(inlove)</string>
          <string>(love)</string>
        </array>
      </dict>
      <key>emoticon-0116-evilgrin.gif</key>
      <dict>
        <key>ID</key>
        <string>eg</string>
        <key>Name</key>
        <string>Evil</string>
        <key>Equivalents</key>
        <array>
          <string>]:)</string>
          <string>&gt;:)</string>
          <string>(grin)</string>
        </array>
      </dict>
      <key>emoticon-0117-talking.gif</key>
      <dict>
        <key>ID</key>
        <string>talk</string>
        <key>Name</key>
        <string>Talking</string>
        <key>Equivalents</key>
        <array>
          <string>(talk)</string>
        </array>
      </dict>
      <key>emoticon-0118-yawn.gif</key>
      <dict>
        <key>ID</key>
        <string>yawn</string>
        <key>Name</key>
        <string>Yawning</string>
        <key>Equivalents</key>
        <array>
          <string>(yawn)</string>
        </array>
      </dict>
      <key>emoticon-0119-puke.gif</key>
      <dict>
        <key>ID</key>
        <string>puke</string>
        <key>Name</key>
        <string>Puking</string>
        <key>Equivalents</key>
        <array>
          <string>(puke)</string>
          <string>:&amp;</string>
          <string>:-&amp;</string>
          <string>:=&amp;</string>
        </array>
      </dict>
      <key>emoticon-0120-doh.gif</key>
      <dict>
        <key>ID</key>
        <string>doh</string>
        <key>Name</key>
        <string>Doh!</string>
        <key>Equivalents</key>
        <array>
          <string>(doh)</string>
        </array>
      </dict>
      <key>emoticon-0121-angry.gif</key>
      <dict>
        <key>ID</key>
        <string>angry</string>
        <key>Name</key>
        <string>Angry</string>
        <key>Equivalents</key>
        <array>
          <string>:@</string>
          <string>:-@</string>
          <string>:=@</string>
          <string>x(</string>
          <string>x-(</string>
          <string>X(</string>
          <string>X-(</string>
          <string>x=(</string>
          <string>X=(</string>
          <string>(angry)</string>
        </array>
      </dict>
      <key>emoticon-0122-itwasntme.gif</key>
      <dict>
        <key>ID</key>
        <string>wasntme</string>
        <key>Name</key>
        <string>It wasn't me!</string>
        <key>Equivalents</key>
        <array>
          <string>(wasntme)</string>
        </array>
      </dict>
      <key>emoticon-0123-party.gif</key>
      <dict>
        <key>ID</key>
        <string>party</string>
        <key>Name</key>
        <string>Party</string>
        <key>Equivalents</key>
        <array>
          <string>(party)</string>
        </array>
      </dict>
      <key>emoticon-0124-worried.gif</key>
      <dict>
        <key>ID</key>
        <string>worry</string>
        <key>Name</key>
        <string>Worried</string>
        <key>Equivalents</key>
        <array>
          <string>:S</string>
          <string>:s</string>
          <string>:-s</string>
          <string>:-S</string>
          <string>:=s</string>
          <string>:=S</string>
          <string>(worry)</string>
        </array>
      </dict>
      <key>emoticon-0125-mmm.gif</key>
      <dict>
        <key>ID</key>
        <string>mmm</string>
        <key>Name</key>
        <string>Mmmmm...</string>
        <key>Equivalents</key>
        <array>
          <string>(mm)</string>
          <string>(mmm)</string>
          <string>(mmmm)</string>
        </array>
      </dict>
      <key>emoticon-0126-nerd.gif</key>
      <dict>
        <key>ID</key>
        <string>nerdy</string>
        <key>Name</key>
        <string>Nerdy</string>
        <key>Equivalents</key>
        <array>
          <string>8-|</string>
          <string>B-|</string>
          <string>8|</string>
          <string>B|</string>
          <string>8=|</string>
          <string>B=|</string>
          <string>(nerd)</string>
        </array>
      </dict>
      <key>emoticon-0127-lipssealed.gif</key>
      <dict>
        <key>ID</key>
        <string>lipssealed</string>
        <key>Name</key>
        <string>My lips are sealed</string>
        <key>Equivalents</key>
        <array>
          <string>:x</string>
          <string>:-x</string>
          <string>:X</string>
          <string>:-X</string>
          <string>:#</string>
          <string>:-#</string>
          <string>:=x</string>
          <string>:=X</string>
          <string>:=#</string>
        </array>
      </dict>
      <key>emoticon-0128-hi.gif</key>
      <dict>
        <key>ID</key>
        <string>hi</string>
        <key>Name</key>
        <string>Wave</string>
        <key>Equivalents</key>
        <array>
          <string>(wave)</string>
          <string>(hi)</string>
          <string>(bye)</string>
        </array>
      </dict>
      <key>emoticon-0129-call.gif</key>
      <dict>
        <key>ID</key>
        <string>call</string>
        <key>Name</key>
        <string>Call</string>
        <key>Equivalents</key>
        <array>
          <string>(call)</string>
        </array>
      </dict>
      <key>emoticon-0130-devil.gif</key>
      <dict>
        <key>ID</key>
        <string>devil</string>
        <key>Name</key>
        <string>Devil</string>
        <key>Equivalents</key>
        <array>
          <string>(devil)</string>
        </array>
      </dict>
      <key>emoticon-0131-angel.gif</key>
      <dict>
        <key>ID</key>
        <string>angel</string>
        <key>Name</key>
        <string>Angel</string>
        <key>Equivalents</key>
        <array>
          <string>(angel)</string>
        </array>
      </dict>
      <key>emoticon-0132-envy.gif</key>
      <dict>
        <key>ID</key>
        <string>envy</string>
        <key>Name</key>
        <string>Envious</string>
        <key>Equivalents</key>
        <array>
          <string>(envy)</string>
        </array>
      </dict>
      <key>emoticon-0133-wait.gif</key>
      <dict>
        <key>ID</key>
        <string>wait</string>
        <key>Name</key>
        <string>Wait</string>
        <key>Equivalents</key>
        <array>
          <string>(wait)</string>
        </array>
      </dict>
      <key>emoticon-0134-bear.gif</key>
      <dict>
        <key>ID</key>
        <string>hug</string>
        <key>Name</key>
        <string>Hug</string>
        <key>Equivalents</key>
        <array>
          <string>(hug)</string>
          <string>(bear)</string>
        </array>
      </dict>
      <key>emoticon-0135-makeup.gif</key>
      <dict>
        <key>ID</key>
        <string>makeup</string>
        <key>Name</key>
        <string>Make-up</string>
        <key>Equivalents</key>
        <array>
          <string>(makeup)</string>
          <string>(kate)</string>
        </array>
      </dict>
      <key>emoticon-0136-giggle.gif</key>
      <dict>
        <key>ID</key>
        <string>giggle</string>
        <key>Name</key>
        <string>Giggle</string>
        <key>Equivalents</key>
        <array>
          <string>(chuckle)</string>
          <string>(giggle)</string>
        </array>
      </dict>
      <key>emoticon-0137-clapping.gif</key>
      <dict>
        <key>ID</key>
        <string>clap</string>
        <key>Name</key>
        <string>Clapping</string>
        <key>Equivalents</key>
        <array>
          <string>(clap)</string>
        </array>
      </dict>
      <key>emoticon-0138-thinking.gif</key>
      <dict>
        <key>ID</key>
        <string>think</string>
        <key>Name</key>
        <string>Thinking</string>
        <key>Equivalents</key>
        <array>
          <string>(think)</string>
          <string>:-?</string>
          <string>:?</string>
          <string>:=?</string>
        </array>
      </dict>
      <key>emoticon-0139-bow.gif</key>
      <dict>
        <key>ID</key>
        <string>bow</string>
        <key>Name</key>
        <string>Bowing</string>
        <key>Equivalents</key>
        <array>
          <string>(bow)</string>
        </array>
      </dict>
      <key>emoticon-0140-rofl.gif</key>
      <dict>
        <key>ID</key>
        <string>rofl</string>
        <key>Name</key>
        <string>Rolling on the floor laughing</string>
        <key>Equivalents</key>
        <array>
          <string>(rofl)</string>
        </array>
      </dict>
      <key>emoticon-0141-whew.gif</key>
      <dict>
        <key>ID</key>
        <string>whew</string>
        <key>Name</key>
        <string>Whew</string>
        <key>Equivalents</key>
        <array>
          <string>(whew)</string>
        </array>
      </dict>
      <key>emoticon-0142-happy.gif</key>
      <dict>
        <key>ID</key>
        <string>happy</string>
        <key>Name</key>
        <string>Happy</string>
        <key>Equivalents</key>
        <array>
          <string>(happy)</string>
        </array>
      </dict>
      <key>emoticon-0143-smirk.gif</key>
      <dict>
        <key>ID</key>
        <string>smirk</string>
        <key>Name</key>
        <string>Smirking</string>
        <key>Equivalents</key>
        <array>
          <string>(smirk)</string>
        </array>
      </dict>
      <key>emoticon-0144-nod.gif</key>
      <dict>
        <key>ID</key>
        <string>nod</string>
        <key>Name</key>
        <string>Nod</string>
        <key>Equivalents</key>
        <array>
          <string>(nod)</string>
        </array>
      </dict>
      <key>emoticon-0145-shake.gif</key>
      <dict>
        <key>ID</key>
        <string>shake</string>
        <key>Name</key>
        <string>Shake</string>
        <key>Equivalents</key>
        <array>
          <string>(shake)</string>
        </array>
      </dict>
      <key>emoticon-0146-punch.gif</key>
      <dict>
        <key>ID</key>
        <string>punch</string>
        <key>Name</key>
        <string>Punch</string>
        <key>Equivalents</key>
        <array>
          <string>(punch)</string>
        </array>
      </dict>
      <key>emoticon-0147-emo.gif</key>
      <dict>
        <key>ID</key>
        <string>emo</string>
        <key>Name</key>
        <string>Emo</string>
        <key>Equivalents</key>
        <array>
          <string>(emo)</string>
        </array>
      </dict>
      <key>emoticon-0148-yes.gif</key>
      <dict>
        <key>ID</key>
        <string>yes</string>
        <key>Name</key>
        <string>Yes</string>
        <key>Equivalents</key>
        <array>
          <string>(y)</string>
          <string>(Y)</string>
          <string>(ok)</string>
          <string>(yes)</string>
        </array>
      </dict>
      <key>emoticon-0149-no.gif</key>
      <dict>
        <key>ID</key>
        <string>no</string>
        <key>Name</key>
        <string>No</string>
        <key>Equivalents</key>
        <array>
          <string>(n)</string>
          <string>(N)</string>
          <string>(no)</string>
        </array>
      </dict>
      <key>emoticon-0150-handshake.gif</key>
      <dict>
        <key>ID</key>
        <string>handshake</string>
        <key>Name</key>
        <string>Handshake</string>
        <key>Equivalents</key>
        <array>
          <string>(handshake)</string>
        </array>
      </dict>
      <key>emoticon-0151-skype.gif</key>
      <dict>
        <key>ID</key>
        <string>skype</string>
        <key>Name</key>
        <string>Skype</string>
        <key>Equivalents</key>
        <array>
          <string>(skype)</string>
          <string>(ss)</string>
        </array>
      </dict>
      <key>emoticon-0152-heart.gif</key>
      <dict>
        <key>ID</key>
        <string>heart</string>
        <key>Name</key>
        <string>Heart</string>
        <key>Equivalents</key>
        <array>
          <string>(h)</string>
          <string>(H)</string>
          <string>(l)</string>
          <string>(L)</string>
          <string>(heart)</string>
        </array>
      </dict>
      <key>emoticon-0153-brokenheart.gif</key>
      <dict>
        <key>ID</key>
        <string>brokenheart</string>
        <key>Name</key>
        <string>Broken heart</string>
        <key>Equivalents</key>
        <array>
          <string>(u)</string>
          <string>(U)</string>
          <string>(brokenheart)</string>
        </array>
      </dict>
      <key>emoticon-0154-mail.gif</key>
      <dict>
        <key>ID</key>
        <string>mail</string>
        <key>Name</key>
        <string>You have mail</string>
        <key>Equivalents</key>
        <array>
          <string>(e)</string>
          <string>(m)</string>
          <string>(mail)</string>
        </array>
      </dict>
      <key>emoticon-0155-flower.gif</key>
      <dict>
        <key>ID</key>
        <string>flower</string>
        <key>Name</key>
        <string>Flower</string>
        <key>Equivalents</key>
        <array>
          <string>(F)</string>
          <string>(f)</string>
          <string>(flower)</string>
        </array>
      </dict>
      <key>emoticon-0156-rain.gif</key>
      <dict>
        <key>ID</key>
        <string>rain</string>
        <key>Name</key>
        <string>Raining</string>
        <key>Equivalents</key>
        <array>
          <string>(rain)</string>
          <string>(london)</string>
        </array>
      </dict>
      <key>emoticon-0157-sun.gif</key>
      <dict>
        <key>ID</key>
        <string>sun</string>
        <key>Name</key>
        <string>Sun</string>
        <key>Equivalents</key>
        <array>
          <string>(sun)</string>
        </array>
      </dict>
      <key>emoticon-0158-time.gif</key>
      <dict>
        <key>ID</key>
        <string>time</string>
        <key>Name</key>
        <string>Time</string>
        <key>Equivalents</key>
        <array>
          <string>(o)</string>
          <string>(O)</string>
          <string>(time)</string>
          <string>(clock)</string>
        </array>
      </dict>
      <key>emoticon-0159-music.gif</key>
      <dict>
        <key>ID</key>
        <string>music</string>
        <key>Name</key>
        <string>Music</string>
        <key>Equivalents</key>
        <array>
          <string>(music)</string>
        </array>
      </dict>
      <key>emoticon-0160-movie.gif</key>
      <dict>
        <key>ID</key>
        <string>movie</string>
        <key>Name</key>
        <string>Movie</string>
        <key>Equivalents</key>
        <array>
          <string>(~)</string>
          <string>(film)</string>
          <string>(movie)</string>
        </array>
      </dict>
      <key>emoticon-0161-phone.gif</key>
      <dict>
        <key>ID</key>
        <string>phone</string>
        <key>Name</key>
        <string>Phone</string>
        <key>Equivalents</key>
        <array>
          <string>(mp)</string>
          <string>(ph)</string>
          <string>(phone)</string>
        </array>
      </dict>
      <key>emoticon-0162-coffee.gif</key>
      <dict>
        <key>ID</key>
        <string>coffee</string>
        <key>Name</key>
        <string>Coffee</string>
        <key>Equivalents</key>
        <array>
          <string>(coffee)</string>
        </array>
      </dict>
      <key>emoticon-0163-pizza.gif</key>
      <dict>
        <key>ID</key>
        <string>pizza</string>
        <key>Name</key>
        <string>Pizza</string>
        <key>Equivalents</key>
        <array>
          <string>(pi)</string>
          <string>(pizza)</string>
        </array>
      </dict>
      <key>emoticon-0164-cash.gif</key>
      <dict>
        <key>ID</key>
        <string>cash</string>
        <key>Name</key>
        <string>Cash</string>
        <key>Equivalents</key>
        <array>
          <string>(cash)</string>
          <string>(mo)</string>
          <string>($)</string>
        </array>
      </dict>
      <key>emoticon-0165-muscle.gif</key>
      <dict>
        <key>ID</key>
        <string>muscle</string>
        <key>Name</key>
        <string>Muscle</string>
        <key>Equivalents</key>
        <array>
          <string>(flex)</string>
          <string>(muscle)</string>
        </array>
      </dict>
      <key>emoticon-0166-cake.gif</key>
      <dict>
        <key>ID</key>
        <string>cake</string>
        <key>Name</key>
        <string>Cake</string>
        <key>Equivalents</key>
        <array>
          <string>(^)</string>
          <string>(cake)</string>
        </array>
      </dict>
      <key>emoticon-0167-beer.gif</key>
      <dict>
        <key>ID</key>
        <string>beer</string>
        <key>Name</key>
        <string>Beer</string>
        <key>Equivalents</key>
        <array>
          <string>(beer)</string>
          <string>(bricklayers)</string>
        </array>
      </dict>
      <key>emoticon-0168-drink.gif</key>
      <dict>
        <key>ID</key>
        <string>drink</string>
        <key>Name</key>
        <string>Drink</string>
        <key>Equivalents</key>
        <array>
          <string>(d)</string>
          <string>(D)</string>
          <string>(drink)</string>
        </array>
      </dict>
      <key>emoticon-0169-dance.gif</key>
      <dict>
        <key>ID</key>
        <string>dance</string>
        <key>Name</key>
        <string>Dancing</string>
        <key>Equivalents</key>
        <array>
          <string>(dance)</string>
          <string>\o/</string>
          <string>\:D/</string>
          <string>\:d/</string>
        </array>
      </dict>
      <key>emoticon-0170-ninja.gif</key>
      <dict>
        <key>ID</key>
        <string>ninja</string>
        <key>Name</key>
        <string>Ninja</string>
        <key>Equivalents</key>
        <array>
          <string>(ninja)</string>
        </array>
      </dict>
      <key>emoticon-0171-star.gif</key>
      <dict>
        <key>ID</key>
        <string>star</string>
        <key>Name</key>
        <string>Star</string>
        <key>Equivalents</key>
        <array>
          <string>(*)</string>
          <string>(star)</string>
        </array>
      </dict>
      <key>emoticon-0172-mooning.gif</key>
      <dict>
        <key>ID</key>
        <string>mooning</string>
        <key>Name</key>
        <string>Mooning</string>
        <key>Equivalents</key>
        <array>
          <string>(mooning)</string>
        </array>
      </dict>
      <key>emoticon-0173-middlefinger.gif</key>
      <dict>
        <key>ID</key>
        <string>finger</string>
        <key>Name</key>
        <string>Finger</string>
        <key>Equivalents</key>
        <array>
          <string>(finger)</string>
        </array>
      </dict>
      <key>emoticon-0174-bandit.gif</key>
      <dict>
        <key>ID</key>
        <string>bandit</string>
        <key>Name</key>
        <string>Bandit</string>
        <key>Equivalents</key>
        <array>
          <string>(bandit)</string>
        </array>
      </dict>
      <key>emoticon-0175-drunk.gif</key>
      <dict>
        <key>ID</key>
        <string>drunk</string>
        <key>Name</key>
        <string>Drunk</string>
        <key>Equivalents</key>
        <array>
          <string>(drunk)</string>
        </array>
      </dict>
      <key>emoticon-0176-smoke.gif</key>
      <dict>
        <key>ID</key>
        <string>smoke</string>
        <key>Name</key>
        <string>Smoking</string>
        <key>Equivalents</key>
        <array>
          <string>(smoking)</string>
          <string>(smoke)</string>
          <string>(ci)</string>
        </array>
      </dict>
      <key>emoticon-0177-toivo.gif</key>
      <dict>
        <key>ID</key>
        <string>toivo</string>
        <key>Name</key>
        <string/>
        <key>Equivalents</key>
        <array>
          <string>(toivo)</string>
        </array>
      </dict>
      <key>emoticon-0178-rock.gif</key>
      <dict>
        <key>ID</key>
        <string>rock</string>
        <key>Name</key>
        <string>Rock</string>
        <key>Equivalents</key>
        <array>
          <string>(rock)</string>
        </array>
      </dict>
      <key>emoticon-0179-headbang.gif</key>
      <dict>
        <key>ID</key>
        <string>headbang</string>
        <key>Name</key>
        <string>Banging head on wall</string>
        <key>Equivalents</key>
        <array>
          <string>(headbang)</string>
          <string>(banghead)</string>
        </array>
      </dict>
      <key>emoticon-0182-poolparty.gif</key>
      <dict>
        <key>ID</key>
        <string>poolparty</string>
        <key>Name</key>
        <string>Pool party</string>
        <key>Equivalents</key>
        <array>
          <string>(poolparty)</string>
          <string>(hrv)</string>
        </array>
      </dict>
      <key>emoticon-0183-swear.gif</key>
      <dict>
        <key>ID</key>
        <string>swear</string>
        <key>Name</key>
        <string>Swearing</string>
        <key>Equivalents</key>
        <array>
          <string>(swear)</string>
        </array>
      </dict>
      <key>emoticon-0180-bug.gif</key>
      <dict>
        <key>ID</key>
        <string>bug</string>
        <key>Name</key>
        <string>Bug</string>
        <key>Equivalents</key>
        <array>
          <string>(bug)</string>
        </array>
      </dict>
      <key>emoticon-0181-fubar.gif</key>
      <dict>
        <key>ID</key>
        <string>fubar</string>
        <key>Name</key>
        <string>FUBAR</string>
        <key>Equivalents</key>
        <array>
          <string>(fubar)</string>
        </array>
      </dict>
      <key>emoticon-0184-tmi.gif</key>
      <dict>
        <key>ID</key>
        <string>tmi</string>
        <key>Name</key>
        <string>Too much information</string>
        <key>Equivalents</key>
        <array>
          <string>(tmi)</string>
        </array>
      </dict>
      <key>emoticon-0185-heidy.gif</key>
      <dict>
        <key>ID</key>
        <string>heidy</string>
        <key>Name</key>
        <string>Heidy</string>
        <key>Equivalents</key>
        <array>
          <string>(heidy)</string>
        </array>
      </dict>
      <key>emoticon-0186-myspace.gif</key>
      <dict>
        <key>ID</key>
        <string>myspace</string>
        <key>Name</key>
        <string>MySpace</string>
        <key>Equivalents</key>
        <array>
          <string>(myspace)</string>
        </array>
      </dict>
      
      <key>LautKopf.gif</key>
      <dict>
        <key>ID</key>
        <string>laut</string>
        <key>Name</key>
        <string>laut</string>
        <key>Equivalents</key>
        <array>
          <string>(laut)</string>
        </array>
      </dict>
      
      <key>niko.gif</key>
      <dict>
        <key>ID</key>
        <string>niko</string>
        <key>Name</key>
        <string>niko</string>
        <key>Equivalents</key>
        <array>
          <string>(niko)</string>
        </array>
      </dict>
      
      <key>restorm.gif</key>
      <dict>
        <key>ID</key>
        <string>restorm</string>
        <key>Name</key>
        <string>restorm</string>
        <key>Equivalents</key>
        <array>
          <string>(restorm)</string>
        </array>
      </dict>
    </dict>
    
    <key>SkypeSetVersion</key>
    <integer>2</integer>
  </dict>
</plist>
