<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Emoticons</key>
    <dict>
      <key>emoticon-0100-smile.png</key>
      <dict>
        <key>ID</key>
        <string>smile</string>
        <key>Name</key>
        <string>Smiley</string>
        <key>Equivalents</key>
        <array>
          <string>:)</string>
          <string>:-)</string>
          <string>:=)</string>
          <string>(smile)</string>
        </array>
      </dict>
      <key>emoticon-0101-sadsmile.png</key>
      <dict>
        <key>ID</key>
        <string>sad</string>
        <key>Name</key>
        <string>Sad</string>
        <key>Equivalents</key>
        <array>
          <string>:(</string>
          <string>:-(</string>
          <string>:=(</string>
          <string>(sad)</string>
        </array>
      </dict>
      <key>emoticon-0102-bigsmile.png</key>
      <dict>
        <key>ID</key>
        <string>laugh</string>
        <key>Name</key>
        <string>Big smile</string>
        <key>Equivalents</key>
        <array>
          <string>:D</string>
          <string>:-D</string>
          <string>:=D</string>
          <string>:d</string>
          <string>:-d</string>
          <string>:=d</string>
          <string>(laugh)</string>
        </array>
      </dict>
      <key>emoticon-0103-cool.png</key>
      <dict>
        <key>ID</key>
        <string>cool</string>
        <key>Name</key>
        <string>Cool</string>
        <key>Equivalents</key>
        <array>
          <string>8-)</string>
          <string>8=)</string>
          <string>B-)</string>
          <string>B=)</string>
          <string>(cool)</string>
        </array>
      </dict>
      <key>emoticon-0104-surprised.png</key>
      <dict>
        <key>ID</key>
        <string>surprised</string>
        <key>Name</key>
        <string>Surprised</string>
        <key>Equivalents</key>
        <array>
          <string>:O</string>
          <string>:-O</string>
          <string>:=O</string>
          <string>:o</string>
          <string>:-o</string>
          <string>:=o</string>
          <string>(surprised)</string>
        </array>
      </dict>
      <key>emoticon-0105-wink.png</key>
      <dict>
        <key>ID</key>
        <string>wink</string>
        <key>Name</key>
        <string>Winking</string>
        <key>Equivalents</key>
        <array>
          <string>;)</string>
          <string>;-)</string>
          <string>;=)</string>
          <string>(wink)</string>
        </array>
      </dict>
      <key>emoticon-0106-crying.png</key>
      <dict>
        <key>ID</key>
        <string>cry</string>
        <key>Name</key>
        <string>Crying</string>
        <key>Equivalents</key>
        <array>
          <string>;(</string>
          <string>;-(</string>
          <string>;=(</string>
          <string>(cry)</string>
        </array>
      </dict>
      <key>emoticon-0108-speechless.png</key>
      <dict>
        <key>ID</key>
        <string>speechless</string>
        <key>Name</key>
        <string>Speechless</string>
        <key>Equivalents</key>
        <array>
          <string>:|</string>
          <string>:-|</string>
          <string>:=|</string>
          <string>(speechless)</string>
        </array>
      </dict>
      <key>emoticon-0109-kiss.png</key>
      <dict>
        <key>ID</key>
        <string>kiss</string>
        <key>Name</key>
        <string>Kiss</string>
        <key>Equivalents</key>
        <array>
          <string>:*</string>
          <string>:-*</string>
          <string>:=*</string>
          <string>(kiss)</string>
        </array>
      </dict>
      <key>emoticon-0110-tongueout.png</key>
      <dict>
        <key>ID</key>
        <string>tongueout</string>
        <key>Name</key>
        <string>Smiley with tongue out</string>
        <key>Equivalents</key>
        <array>
          <string>:P</string>
          <string>:-P</string>
          <string>:=P</string>
          <string>:p</string>
          <string>:-p</string>
          <string>:=p</string>
          <string>(tongueout)</string>
        </array>
      </dict>
      <key>emoticon-0112-wondering.png</key>
      <dict>
        <key>ID</key>
        <string>wonder</string>
        <key>Name</key>
        <string>Wondering</string>
        <key>Equivalents</key>
        <array>
          <string>:^)</string>
          <string>(wonder)</string>
        </array>
      </dict>
      <key>emoticon-0113-sleepy.png</key>
      <dict>
        <key>ID</key>
        <string>sleepy</string>
        <key>Name</key>
        <string>Sleepy</string>
        <key>Equivalents</key>
        <array>
          <string>|-)</string>
          <string>I-)</string>
          <string>I=)</string>
          <string>(snooze)</string>
        </array>
      </dict>
      <key>emoticon-0114-dull.png</key>
      <dict>
        <key>ID</key>
        <string>dull</string>
        <key>Name</key>
        <string>Dull</string>
        <key>Equivalents</key>
        <array>
          <string>|-(</string>
          <string>|(</string>
          <string>|=(</string>
          <string>(dull)</string>
        </array>
      </dict>
      <key>emoticon-0116-evilgrin.png</key>
      <dict>
        <key>ID</key>
        <string>eg</string>
        <key>Name</key>
        <string>Evil</string>
        <key>Equivalents</key>
        <array>
          <string>]:)</string>
          <string>&gt;:)</string>
          <string>(grin)</string>
        </array>
      </dict>
      <key>emoticon-0121-angry.png</key>
      <dict>
        <key>ID</key>
        <string>angry</string>
        <key>Name</key>
        <string>Angry</string>
        <key>Equivalents</key>
        <array>
          <string>:@</string>
          <string>:-@</string>
          <string>:=@</string>
          <string>x(</string>
          <string>x-(</string>
          <string>X(</string>
          <string>X-(</string>
          <string>x=(</string>
          <string>X=(</string>
          <string>(angry)</string>
        </array>
      </dict>
      <key>emoticon-0124-worried.png</key>
      <dict>
        <key>ID</key>
        <string>worry</string>
        <key>Name</key>
        <string>Worried</string>
        <key>Equivalents</key>
        <array>
          <string>:S</string>
          <string>:s</string>
          <string>:-s</string>
          <string>:-S</string>
          <string>:=s</string>
          <string>:=S</string>
          <string>(worry)</string>
        </array>
      </dict>
      <key>emoticon-0126-nerd.png</key>
      <dict>
        <key>ID</key>
        <string>nerdy</string>
        <key>Name</key>
        <string>Nerdy</string>
        <key>Equivalents</key>
        <array>
          <string>8-|</string>
          <string>B-|</string>
          <string>8|</string>
          <string>B|</string>
          <string>8=|</string>
          <string>B=|</string>
          <string>(nerd)</string>
        </array>
      </dict>
      <key>emoticon-0127-lipssealed.png</key>
      <dict>
        <key>ID</key>
        <string>lipssealed</string>
        <key>Name</key>
        <string>My lips are sealed</string>
        <key>Equivalents</key>
        <array>
          <string>:x</string>
          <string>:-x</string>
          <string>:X</string>
          <string>:-X</string>
          <string>:#</string>
          <string>:-#</string>
          <string>:=x</string>
          <string>:=X</string>
          <string>:=#</string>
        </array>
      </dict>
    </dict>
    <key>SkypeSetVersion</key>
    <integer>2</integer>
  </dict>
</plist>
